<div lass="main-container">
    <header>
        <div class="faq-bar">
            <a href="/" class="faq-link">FAQs</a>
        </div>

        <div class="login">
            <i class="fa fa-user" style="color:white;"></i> Login</div>
        <div class="psn-bar">
            <a href="/" class="psn-link">
                <img src="../assets/images/desktop/LogoHeader.png">
            </a>
        </div>
    </header>
    <div [@routerAnimation]="getRouteAnimation(route)">
        <router-outlet #route="outlet"></router-outlet>
    </div>
    <footer class="footer">
        <div class="footer-bottom">
            <i class="fa fa-facebook" style="color:#0074d1;"></i>
            <!-- <a href="/" class="faq-link" style="color: #0074d1;">FAQs</a> -->
        </div>
    </footer>
</div>