<div class="notification">
        <div class="testmessageBox" >
          <h2>Congratulations!</h2> You watched <h3>A Great Video</h3> Go grab your REWARD!
        </div>
      </div>
<div class='twitch-container'>
    <div class="twitch-video-container">
        <div id='twitch-player' class="twitch-player"></div>
    </div>
    <div class="twitch-info">
        <div style="color:white;">
            <span>Twitcher: </span>{{name}}</div>
        <div style="color:white;">
            <span>Playing: </span>{{game}}</div>
        <div style="color:white;">
            <span>{{title}}</span>
        </div>
    </div>
</div>