<div id="container">
  <body>
    <div class="swing">
      <div id="messageBox" class="font">
        <h2>Congratulations!</h2> You watched <h3>{{vidTitle}}</h3> Go grab your REWARD!
      </div>
    </div>
    <div class="background-container">
      <div class="player-container">
        <div class="player">
          <div class="playerbg">
            <img class="loading" src="../../assets/images/desktop/loader-3-playstation.gif">
          </div>
          <div class="loading-text">
            GREATNESS AWAITS...
          </div>
          <youtube-component class="yt-component" id="video" [videoId]="id" (ready)="onReady($event)"
            (change)="onChange($event)">
          </youtube-component>
          <div class="controls">
            <div class="volume-slider" (mouseover)="sliderMouseover()" (mouseout)="sliderContainerMouseout()" >
                <input (mouseout)="sliderMouseout()" type="range" min="1" max="100" value="60" class="vranger"/>
            </div>
            <ul class="ul-controls">
              <li class="controls-li">
                <img class="volume3" (click)="volumeClick()" (mouseover)="mouseover('volume3')" (mouseout)="mouseout('volume3')" src="../../assets/images/desktop/volume3.png"
                />
              </li>
              <li>
                  <img class="sharenbg3" (click)="changeVid()" (mouseover)="mouseover('sharenbg3')" (mouseout)="mouseout('sharenbg3')" src="../../assets/images/desktop/sharenbg3.png"
                  />
                </li>
              <li>
                <img class="cc3" (mouseover)="mouseover('cc3')" (mouseout)="mouseout('cc3')" (click)="removecc()" src="../../assets/images/desktop/cc3.png"
                />
              </li>
              <li>
                <img class="info3" (mouseover)="mouseover('info3')" (mouseout)="mouseout('info3')" (click)="resizeText()" src="../../assets/images/desktop/info3.png"
                />
              </li>
            </ul>
            <div class="captions">
                <!-- <app-captions [currentTime]="currentTime"></app-captions> -->
            </div>
          </div>
        </div>
        <!-- <button type="button" (click)="changeVid()">Change Video</button> -->
        <label style="color:white;">{{src}}</label>
        <!-- <button type="button" (click)="removecc()">cc</button> -->
      </div>
    </div>
  </body>
</div>