.faq-bar{
    width:100%;
    height: 30px;
    background-image: url("../../assets/images/desktop/FAQBackground.png");
    text-align: center;
    min-width: 1080px;
}
.faq-link{
    color:white;
}
.psn-bar{
    width:100%;
    height: 60px;
    background-image: url("../../assets/images/desktop/HeaderBackground.png");
    text-align: center;
    position: relative;
    min-width: 1080px;
}
.login{
    position: absolute;
    right: 10px;
    top: 45px;
    color:white;
    z-index: 1;
}
.body-container{
    position: relative;
    width: 100%;
    background-image: url('../../assets/images/desktop/Main_Background.jpg');
    min-height: 725px;
}
.player-container{
    width: 1080px;
    height: 620px;
    background-image: url('../../assets/images/desktop/Video_Background.PNG');
    background-size: cover;
    padding: 135px 210px;
    margin: auto;
}