<div id="container">

  <body>
    <div class="background-container">
      <div class="player-container">
        <div class="player">
          <div class="playerbg">
            <img class="loading" src="../../assets/images/desktop/loader-3-playstation.gif">
          </div>
          <div class="loading-text">
            GREATNESS AWAITS...
          </div>
          <youtube-component style="z-index:2; height:360px; position:absolute; top:0px; display:none;" id="video" [videoId]="id" (ready)="onReady($event)"
            (change)="onChange($event)">
          </youtube-component>
          <div class="controls">
            <div class="volume-slider" (mouseover)="sliderMouseover()" (mouseout)="sliderContainerMouseout()" >
                <input (mouseout)="sliderMouseout()" type="range" min="1" max="100" value="60" class="vranger"/>
            </div>
            <ul class="ul-controls">
              <li style="padding-right: 300px;">
                <img class="volume2" (click)="volumeClick()" (mouseover)="mouseover('volume2')" (mouseout)="mouseout('volume2')" src="../../assets/images/desktop/volume2.png"
                />
              </li>
              <li>
                <img class="cc2" (mouseover)="mouseover('cc2')" (mouseout)="mouseout('cc2')" (click)="removecc()" src="../../assets/images/desktop/cc2.png"
                />
              </li>
              <li>
                <img class="sharenbg" (mouseover)="mouseover('sharenbg')" (mouseout)="mouseout('sharenbg')" src="../../assets/images/desktop/sharenbg.png"
                />
              </li>
              <li>
                <img class="info2" (mouseover)="mouseover('info2')" (mouseout)="mouseout('info2')" src="../../assets/images/desktop/info2.png"
                />
              </li>
            </ul>
            <div class="captions">
                <app-captions [currentTime]="currentTime"></app-captions>
            </div>
          </div>
        </div>
        <!-- <button type="button" (click)="changeVid()">Change Video</button> -->
        <label style="color:white;">{{src}}</label>
        <!-- <button type="button" (click)="removecc()">cc</button> -->
      </div>
    </div>
  </body>
</div>